version: "3.8"
services:
  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=rootuser
      - MONGO_INITDB_ROOT_PASSWORD=rootpass
      - PUID=1000
      - PGID=1000
    volumes:
      - d:/dev/dockers/mongodb/todolist/database:/data
    networks: 
      - mongodb_network
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo 10.10.10.60:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment: 
    - ME_CONFIG_MONGODB_SERVER=mongodb
    - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    - ME_CONFIG_MONGODB_ADMINUSERNAME=rootuser
    - ME_CONFIG_MONGODB_ADMINPASSWORD=rootpass
    - ME_CONFIG_BASICAUTH_USERNAME=admin
    - ME_CONFIG_BASICAUTH_PASSWORD=admin123
    volumes:
      - d:/college/nim/anonimongo/examples/todolist/database:/data/db
    depends_on: 
      - mongodb
    networks: 
      - mongodb_network
    ports:
      - 8081:8081
    healthcheck:
      test: wget --quiet --tries=3 --spider http://admin:admin123@10.10.10.60:8081 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
  prologue-app:
    # image: prologue-app
    build: .
    container_name: todolist-mongo
    volumes:
      - d:/college/nim/anonimongo/examples/todolist/database:/data/db
    depends_on: 
      - mongodb
    networks: 
      - mongodb_network
    ports: 
      - 8080:8080
    environment: 
      - WAIT_HOST=mongodb:27017
      - WAIT_HOST_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=30
      - WAIT_HOST_CONNECT_TIMEOUT=30
      - debug=true
      - port=8080
      - appName=TodoList
      - staticDir=/static
      - secretKey=Pr435ol67ogue
volumes:
  mongodb-data:
    name: mongodb-data
networks:
  mongodb_network:
    name: mongodb_network